.list-todo-container {
  button {
    cursor: pointer;
    margin-bottom: 5px;
  }
  .add-todo {
    margin-bottom: 10px;
  }
  .list-todo-content {
    width: 400px;
    border: 1px solid #ac4f4ff0;
    padding: 5px;
    margin: 0 auto;
    .todo-child {
      &:first-child {
        border-top: 1px solid grey;
        margin-top: 5px;
        padding-top: 10px;
      }
      margin: 0 auto;
      border-bottom: 1px solid #949494;
      margin-bottom: 10px;
      // padding-bottom: 15px;
      span {
        color: aquamarine;
        margin-right: 10px;
      }
      .edit {
        margin: 0 10px;
      }
    }
  }
}
